.firstPage, .secondPage {
    background-color: rgb(161, 161, 161);
    font-size: medium;
    font-family: 'Courier New', Courier, monospace ;
    color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 20%;
    }

.form{
    background-color: rgb(161, 161, 161);
}
#newElement{
    display: none;
}
.title{
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}    
button{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 102, 102);
    font-size: medium;
    font-weight: bolder;
}

#models{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 102, 102)  ;
}

.navegationPage{
    text-align: left;
    background-color: rgb(211, 210, 210);
    font-family: 'Courier New', Courier, monospace ;
    color: rgb(0, 0, 0);
}
.post{
    background-color: rgb(214, 214, 214);
}
footer{
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 10vh;
    position: relative;
    text-align: center;
}

footer div{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#btnLiking{
    background-color: rgb(255, 255, 255);
    border: none;
    size: 20px;
}
.navCamera {
    background-color: rgb(255, 255, 255);
    border: none;
}
.navHome{
    background-color: rgb(255, 255, 255);
    border: none;
}
.navPerfil{
    background-color: rgb(255, 255, 255);
    border: none;
}
